.cart-shipping-block-title {

    h1 {
        margin: 0px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        color: #46c0c1;
    }

    small {
        margin: 0px;
        font-weight: 700;
        font-size: 18px;
        color: #131313;
    }
}

.cart-shipping-block {
    padding: 30px 0px 40px 0px;

    form {
        
        .content-padding {
            padding: 0px 60px;
            margin-bottom: 20px;
        }
        
        hr {
            margin-top: 15px;
            margin-bottom: 30px;
            border-color: #4b4b4b;
        }
        
        .form-control {
            height: 45px;
            font-weight: 700;
            color: #474442;
            -webkit-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
            -moz-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
            box-shadow: inset 0px -9px 4px -8px #8f8f8f;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            &::placeholder {
                font-weight: 700;
                color: #474442;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                font-weight: 700;
                color: #474442;
            }

            &::-ms-input-placeholder {
                font-weight: 700;
                color: #474442;
            }
        }
        
        .input-group {
            
            .input-group-addon {
                padding: 6px 12px 6px 30px;
                border-color: transparent;
                background: transparent url('../img/asterisk.png') center center no-repeat;
                
                &.empty {
                    background: transparent;
                }
            }
        }

        .control-label {
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 20px;
            color: #b11e2c;
        }

        .btn-default {
            width: 100%;
            padding: 3px 12px;
            margin-top: 44px;
            text-align: center;
            text-transform: uppercase;
            font-size: 25px;
            color: #FFF;
            border-color: #b11e2c;
            background-color: #b11e2c;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
    }
}

@media (max-width: $screen-md) {

    .cart-shipping-block {

        form {
            
            .content-padding {
                padding: 0px;
            }

            .btn-default {
                margin-top: 0px;
            }
        }
    }
}