.contact-block-google-map {
    min-height: 635px !important;
}

.contact-block {
    padding: 40px 0px;

    .row {
        
        .col-md-6 {

            &:nth-of-type(1) {
                min-height: 180px;
                padding-right: 50px;
                border-right: 1px solid #3a3b3f;

                h2 {
                    margin: 0px 0px 20px 0px;
                    font-weight: 700;
                    font-size: 28px;
                    color: #b11e2c;
                }

                h3 {
                    margin: 0px 0px 0px 0px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 16px;
                    color: #4b4b4b;

                    span {
                        font-weight: 700;
                        font-size: 16px;
                        color: #0f728c;
                    }
                }

                p {
                    margin: 50px 0px 0px 0px;
                    text-align: justify;
                    line-height: 20px;
                    font-weight: 700;
                    font-size: 16px;
                    color: #4b4b4b;
                }
            }

            &:nth-of-type(2) {
                padding-left: 50px;

                h2 {
                    margin: 0px 0px 20px 0px;
                    font-weight: 700;
                    font-size: 28px;
                    color: #0f728c;
                }

                .containter-counter-circle {
                    width: 100%;
                    height: 140px;
                    background: transparent url('../img/bg-counter-circle.png') left center / 100% 24px no-repeat;
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: flex-start;

                    .items-counter-circle {
                        margin-left: 60px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        label {
                            margin: 0px;
                            font-weight: 700;
                            font-size: 16px;
                            color: #46c0c1;
                        }

                        p {
                            margin: 0px;
                            padding: 8px 15px;
                            font-weight: 700;
                            font-size: 16px;
                            color: #FFF;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            border-radius: 20px;
                        }

                        &:nth-of-type(1) {
                            background: transparent url('../img/icon-counter-circle-redwine.jpg') center center no-repeat;

                            p {
                                background-color: #af2234;
                            }
                        }

                        &:nth-of-type(2) {
                            background: transparent url('../img/icon-counter-circle-red.jpg') center center no-repeat;

                            p {
                                background-color: #e61737;
                            }
                        }

                        &:nth-of-type(3) {
                            background: transparent url('../img/icon-counter-circle-gray.jpg') center center no-repeat;

                            p {
                                background-color: #545454;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

    .contact-block {

        .row {
            
            .col-md-6 {

                &:nth-of-type(2) {

                    .containter-counter-circle {

                        .items-counter-circle {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-md) {

    .contact-block-google-map {
        min-height: 300px !important;
    }
    
    .contact-block {

        .row {
            
            .col-md-6 {

                &:nth-of-type(1) {
                    min-height: auto;
                    padding-right: 15px;
                    border-right: none;

                    h2 {
                        text-align: center;
                    }

                    p {
                        margin: 20px 0px 0px 0px;
                    }
                }

                &:nth-of-type(2) {
                    margin-top: 35px;
                    padding-left: 15px;

                    h2 {
                        text-align: center;
                    }

                    .img-responsive {
                        margin: 0px auto;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .contact-block {

        .row {
            
            .col-md-6 {

                &:nth-of-type(2) {

                    .containter-counter-circle {
                        height: auto;
                        background: transparent;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .items-counter-circle {
                            margin-left: 0px;

                            label {
                                margin-bottom: 12px;
                            }

                            p {
                                margin-bottom: 20px;
                            }

                            &:nth-of-type(1) {
                                background: transparent;
                            }

                            &:nth-of-type(2) {
                                flex-direction: column-reverse;
                                background: transparent;
                            }

                            &:nth-of-type(3) {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}