@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

body {
	overflow-x: hidden;
}

header,
footer,
section {
	width: 100%;
	float: left;
	position: relative;
}

#google-map {
	width: 100%;
	min-height: 375px;
	border: none;
}

.terms-and-conditions {
    padding: 30px 0px 70px 0px;

	h1 {
	    text-align: center;
	    margin: 0px 0px 20px 0px;
	    font-weight: 700;
	    font-size: 36px;
	    color: #b11e2c;
	}

	p {
	    margin: 0px 0px 15px 0px;
	    text-align: justify;
	    font-size: 20px;
	    color: #4b4b4b;
	}
}

#modal-pop-up {

	.modal-content {
		border: none;
		box-shadow: none;
		background: transparent;

		.modal-header {
			padding: 0px;
			border-bottom: none;
			
			.img-responsive {
				width: 100%;
			}

			.close {
				top: 55px;
				right: -35px;
				opacity: 1;
				z-index: 1;
				position: absolute;
			}
		}

		.modal-body {
			padding: 0px 22px 22px 22px;
			background-color: #FFF;
			-webkit-border-bottom-right-radius: 25px;
			-webkit-border-bottom-left-radius: 25px;
			-moz-border-radius-bottomright: 25px;
			-moz-border-radius-bottomleft: 25px;
			border-bottom-right-radius: 25px;
			border-bottom-left-radius: 25px;

			> .img-responsive {
				margin: 0px auto 15px auto;
			}

			form {
				padding: 15px 25px 0px 25px;
				border: 3px dashed #000;

				.form-group {

					&:nth-of-type(1) {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						h2 {
							margin: 0px;
							text-align: center;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 50px;
							color: #38b3c2;
						}

						p {
							margin: 0px 0px 10px 0px;
							text-align: center;
							font-weight: 700;
							font-size: 22px;
							color: #2b2d2f;
						}

						span {
							margin: 0px;
							font-weight: 700;
							font-size: 18px;
							color: #2b2d2f;
							align-self: flex-end;
						}
					}

					label {
						font-weight: 700;
						font-size: 18px;
						color: #2b2d2f;
					}

					&.text-center {
						margin-bottom: 10px;

						.btn-default {
							width: 100%;
							margin-top: 10px;
							border-color: #145f7c;
							text-transform: uppercase;
							text-align: center;
							line-height: 27px;
							font-size: 27px;
							color: #FFF;
							background-color: #145f7c;
							-webkit-border-radius: 0px;
							-moz-border-radius: 0px;
							border-radius: 0px;
						}
	
						small {
							font-weight: 700;
							font-size: 18px;
							color: #2b2d2f;
						}
					}

					.form-control {
						height: auto;
						padding: 10px 12px;
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
					}
				}
			}
		}
	}
}

#modal-added-to-cart {

	.modal-content {
		border: none;
		box-shadow: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;

		.modal-header {
			padding: 14px 0px;
			border: none;
			background-color: #0f728c;

			h2 {
				margin: 0px;
				text-align: center;
				text-transform: uppercase;
				font-size: 21px;
				color: #46c0c1;
			}

			.close {
				top: 13px;
				right: 13px;
				position: absolute;
				opacity: 1;
				z-index: 1;

				.img-responsive {
					width: 30px;
				}
			}
		}

		.modal-body {
			padding: 18px 50px;

			.row {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				
				.col-md-6 {
					
					&:nth-of-type(1) {
						border-right: 1px solid #3f1e1e;

						small {
							margin-bottom: 20px;
							font-size: 15px;
							color: #46c0c1;
						}

						.container-info {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;

							.content-text {

								.img-responsive {
									margin: 10px auto 0px auto;
								}
	
								h4 {
									margin: 0px;
									font-weight: 700;
									font-size: 34px;
									color: #000;
		
									span {
										font-weight: 700;
										font-size: 14px;
									}
								}
		
								h5 {
									margin: 0px;
									text-transform: uppercase;
									line-height: 23px;
									font-weight: 700;
									font-size: 17px;
									color: #b11e2c;
								}
		
								p {
									margin: 0px;
									font-size: 17px;
									color: #4b4b4b;
								}

								&:nth-of-type(1) {
									width: 40%;
								}

								&:nth-of-type(2) {
									width: 60%;
								}
							}
						}
					}

					&:nth-of-type(2) {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						h3 {
							margin: 0px 0px 10px 0px;
							font-size: 25px;
							color: #4b4b4b;
						}

						.btn-danger {
							padding: 5px 30px;
							text-transform: uppercase;
							font-size: 25px;
							border-color: #b11e2c;
							background-color: #b11e2c;
							-webkit-border-radius: 0px;
							-moz-border-radius: 0px;
							border-radius: 0px;
						}

						.btn-default {
							padding: 0px 0px 0px 18px;
							border: none;
							margin-top: 10px;
							font-size: 18px;
							color: #46c0c1;
							background: transparent url('../img/icon-keep-shopping.png') left center / 10px auto no-repeat;
						}
					}
				}
			}
		}
	}
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (max-width: $screen-md) {

}

@media (max-width: $screen-sm) {

	#modal-pop-up {

		.modal-content {

			.modal-header {

				.close {
					top: 0px;
					right: 0px;
				}
			}

			.modal-body {

				form {

					.form-group {

						&:nth-of-type(1) {

							h2 {
								font-size: 35px;
							}

							p {
								font-size: 15px;
							}

							span {
								font-size: 12px;
							}
						}

						label {
							font-size: 15px;
						}

						&.text-center {

							.btn-default {
								line-height: 20px;
								font-size: 20px;
							}
		
							small {
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}

	#modal-added-to-cart {

		.modal-content {

			.modal-body {
				padding: 18px 15px;

				.row {
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					
					.col-md-6 {
						
						&:nth-of-type(1) {
							border-right: none;
							border-bottom: 1px solid #3f1e1e;
							margin-bottom: 30px;
							padding-bottom: 30px;

							.container-info {
								flex-direction: column;
								align-items: center;
								justify-content: space-between;

								.content-text {

									&:nth-of-type(1) {
										width: 100%;
									}

									&:nth-of-type(2) {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: $screen-sm) {
	
	body {
		padding-top: 308px;
	}
}

@media (min-width: $screen-md) {

	body {
		padding-top: 188px;
	}
}