@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

body {
	overflow-x: hidden;
}

header,
footer,
section {
	width: 100%;
	float: left;
	position: relative;
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (max-width: $screen-md) {

}

@media (max-width: $screen-sm) {

}