header {

    .navbar-top {
        padding: 15px 0px;
        background-color: rgba(26, 160, 190, 0.15);

        .row {

            > .col-md-2 {
                min-height: 44px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a {
                    text-decoration: none;
                }

                .content-language {

                    a {
                        text-decoration: none;
                        color: #0f728c;

                        &.active {
                            font-weight: 800;
                        }
                    }

                    span {
                        margin: -2px 3px 0px 3px;
                        color: #0f728c;
                    }
                }

                .content-social-networks {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    a {

                        .img-responsive {
                            width: 19px;

                            &.type-hover {
                                display: none;
                            }
                        }

                        &:hover {

                            .img-responsive {
                                display: none;

                                &.type-hover {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            
            > .col-md-1 {
                min-height: 44px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #0f728c;

                    &.active {
                        font-weight: 800;
                    }
                }

                span {
                    margin: -2px 3px 0px 3px;
                    color: #0f728c;
                }
            }

            > .col-md-3 {
                min-height: 44px;

                .form-control {
                    height: auto;
                    padding: 11px 22px;
                    border: none;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    border-radius: 14px;
                    box-shadow: none;
                    background: #FFF url('../img/icon-lens.png') 94% center no-repeat;

                    &::placeholder {
                        font-weight: 800;
                        font-size: 14px;
                        color: #b4b1b1;
                    }
                }
            }

            > .col-md-6 {
                min-height: 44px;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                ul {
                    width: 100%;
                    min-height: 44px;
                    list-style: none;
                    padding-left: 0px;
                    margin-bottom: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {

                        a {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            text-decoration: none;
                            color: #0f728c;
                        }
                        
                        &:nth-of-type(3) {

                            a {
    
                                img {
                                    margin-right: 10px;
                                }
                            }
                        }

                        &:nth-of-type(5) {

                            a {
    
                                img {
                                    margin: 0px 12px 0px 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-default {
        margin-bottom: 0px;
        background-color: #FFF;
        border-color: #FFF;

        .row {
            padding: 13px 0px;
            
            > .col-md-4 {
                min-height: 87px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;

                .navbar-header {
                    width: 100%;

                    .navbar-toggle {
                        margin: 18px 0px 0px 0px;
                    }
                    
                    .navbar-brand {
                        padding: 0px;
                        height: auto;

                        .img-responsive {
                            max-width: 305px;
                        }
                    }
                }
            }
            
            > .col-md-8 {
                min-height: 87px;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .navbar-collapse {
                    width: 100%;
                    padding: 0px;

                    .navbar-nav {

                        &.navbar-right {
                            margin-right: unset;
                        }
                        
                        li {
                            padding: 0px 6px;
                            
                            a {
                                padding: 8px 3px;
                                font-weight: 800;
                                font-size: 14px;
                                color: #4b4b4b;
                                border-bottom: 4px solid #FFF;

                                &.active,
                                &:hover {
                                    color: #b11e2c;
                                    border-bottom: 4px solid #b11e2c;
                                }
                            }

                            &.divider {

                                hr {
                                    margin: 4px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

    header {

        .navbar-default {

            .row {
                
                > .col-md-8 {

                    .navbar-collapse {

                        .navbar-nav {
                            
                            li {
                                padding: 0px 3px;
                                
                                a {
                                    padding: 8px 0px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-md) {
    
    header {

        .navbar-top {
            padding: 0px;
    
            .row {
    
                > .col-md-2 {
                    padding: 15px;
    
                    .content-language {
                        width: 50%;
                    }

                    .content-social-networks {
                        width: 50%;
                    }
                }

                > .col-md-3 {

                    .form-control {
                        background: #FFF url('../img/icon-lens.png') 98% center no-repeat;
                    }
                }

                > .col-md-6 {
                    padding: 7px 15px;
                }
            }
        }

        .navbar-default {

            .row {
                
                > .col-md-4 {
                    min-height: 60px;
                }

                > .col-md-8 {
                    min-height: 60px;

                    .navbar-collapse {

                        .navbar-nav {
                            
                            li {
                                padding: 0px 5px;
                                
                                a {
                                    padding: 8px 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    header {

        .navbar-top {
    
            .row {
    
                > .col-md-3 {
                    padding-bottom: 17px;

                    .form-control {
                        background: #FFF url('../img/icon-lens.png') 96% center no-repeat;
                    }
                }
            }
        }

        .navbar-default {

            .row {
                padding: 0px;
                
                > .col-md-4 {
                    min-height: auto;
                    padding: 15px;

                    .navbar-header {

                        .navbar-toggle {
                            margin: 4px 0px 0px 0px;
                        }
                        
                        .navbar-brand {
                            max-width: 180px;
                        }
                    }
                }

                > .col-md-8 {
                    min-height: auto;

                    .navbar-collapse {
                        padding: 0px 15px;
                    }
                }
            }
        }
    }
}