.home-block-banner {

    .owl-carousel {

        .item {
            width: 100%;
            min-height: 630px;

            .container {

                h2 {
                    margin: 40px 0px 0px 0px;
                    letter-spacing: 4px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 20px;
                    color: #197891;
                }
            }
        }

        .owl-dots {
            width: 100%;
            max-width: 1200px;
            padding: 0px 50px;
            margin: -40px auto 19px auto;
            text-align: right;
            position: relative;

            .owl-dot {
                
                span {
                    width: 12px;
                    height: 12px;
                    margin: 0px 3px;
                    border: 1px solid #FFF;
                    background-color: transparent;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                    display: block;
                    transition: opacity .2s ease;
                }
                
                &.active {
                    
                    span {
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}

.home-block-brands {
    
    .container-brands-top {
        padding: 13px 0px;
        background-color: #46c0c1;

        h3 {
            margin: 0px;
            text-align: center;
            text-transform: uppercase;
            font-size: 27px;
            color: #FFF;

            span {
                font-weight: 700;
                font-size: 27px;
            }
        }
    }

    .container-brands-carousel {

        .col-md-12 {
            padding: 30px 54px 30px 54px;

            .owl-carousel {

                .owl-item {

                    .item {
                        min-height: 131px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: auto;
                        }
                    }
                }
            }

            .btn-owl-carousel-brands-home {
                width: 39px;
                height: 74px;
                top: 29%;
                position: absolute;

                &-left {
                    left: 15px;
                    background: transparent url('../img/icon-arrow-gray-left.png') left center no-repeat;
                }
                &-right {
                    right: 15px;
                    background: transparent url('../img/icon-arrow-gray-right.png') right center no-repeat;
                }
            }
        }
    }
}

.home-block-products {
    
    .row {
        
        &:nth-of-type(1) {

            h3 {
                margin: 0px;
                background: transparent url('../img/bg-home-block-products.jpg') left center repeat-x;

                span {
                    background: #FFF;

                    a {
                        margin: 0px 25px 0px 0px;
                        padding-right: 35px;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 31px;
                        color: #a0a0a0;
                        background: transparent url('../img/icon-title-home-block-products-gray.png') right center no-repeat;

                        &.active,
                        &:hover {
                            color: #b11e2c;
                            background: transparent url('../img/icon-title-home-block-products-red.png') right center no-repeat;
                        }
                    }
                }
            }
        }

        &:nth-of-type(2) {

            .col-md-12 {
                padding: 30px 0px 0px 0px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                flex-wrap: wrap;

                .container-products {
                    width: 20%;
                    padding: 0px 15px;
                    margin-bottom: 45px;

                    .img-products {

                        .img-heart {
                            margin: 15px 15px -40px 0px;
                            float: right;
                            position: relative;
                        }

                        .img-responsive {
                            width: 100%;
                            margin: 0px 0px 15px 0px;
                            border: 1px solid #b4b1b1;
                        }
                    }
                    
                    .text-products {
                        min-height: 160px;

                        h4 {
                            margin: 0px 0px 15px 0px;
                            font-size: 34px;
                            color: #000;

                            span {
                                font-size: 14px;
                            }
                        }

                        h5 {
                            margin: 0px 0px 5px 0px;
                            text-transform: uppercase;
                            line-height: 23px;
                            font-size: 14px;
                            color: #b11e2c;
                        }

                        p {
                            margin: 0px 0px 15px 0px;
                            font-size: 14px;
                            color: #1b1b1b;
                        }
                    }

                    .link-products {
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        justify-content: space-between;
                        
                        a {
                            margin: 0px;
                            padding: 10px 19px;
                            border: 1px solid #b4b1b1;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            
                            &:nth-of-type(2) {
                                padding: 10px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-block-video {
    background: transparent url('../img/bg-home-video.jpg') center top / 100% 1px repeat-y;
    
    .container {
        padding: 30px 15px;
        background-color: transparent;
        background-image: url('../img/img-bg-home-video.png'), url('../img/bg-home-video.jpg');
        background-size: 370px auto, 100% 1px;
        background-repeat: no-repeat, repeat-y;
        background-position: 74.5% bottom, left top;

        .row {

            .col-md-6 {

                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: right;

                    .container-info-video {
                        width: 100%;
                        max-width: 170px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .img-responsive {
                            margin: 12px 0px 20px 0px;

                            &:nth-of-type(2) {
                                margin: 15px 0px 24px 0px;
                            }
                        }

                        p {
                            margin: 0px;
                            line-height: 27px;
                            font-weight: 300;
                            font-size: 19px;
                            color: #FFF;
                            
                            span {
                                font-weight: 700;
                                font-size: 50px;
                            }

                            &:nth-of-type(1) {
                                line-height: 29px;
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-block-parallax {
    background: transparent url('../img/bg-home-parallax.jpg') center center / cover no-repeat;
    background-attachment: fixed;
    
    .container {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.home-block-latest-news {
    padding-bottom: 55px;

    > .container {
            
        > .row {
            
            &:nth-of-type(1) {

                h3 {
                    margin: 10px 0px 20px 0px;
                    background: transparent url('../img/bg-home-block-latest-news.jpg') left center repeat-x;

                    a {
                        margin: 0px 25px 0px 0px;
                        padding-right: 15px;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 31px;
                        color: #21c0d8;
                        background: #FFF;                        
                    }
                }
            }

            &:nth-of-type(2) {

                > .col-md-6 {
                    
                    .container-seccion-news {
                        width: 100%;
                        min-height: 288px;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        .content-info {
                            width: 100%;
                            padding: 15px 35px;
                            background-color: transparent;
                            background-image: url('../img/icon-arrow-text-home-latest-news.png'), url('../img/bg-text-home-latest-news.png');
                            background-repeat: no-repeat, repeat-x;
                            background-size: auto auto, 1px 100%;
                            background-position: 96% center, left top;
                            
                            p {
                                margin: 0px;
                                line-height: 25px;
                                font-weight: 700;
                                font-size: 20px;
                                color: #FFF;
                            }
                            
                            a {
                                margin: 0px;
                                text-decoration: none;
                                font-weight: 400;
                                font-size: 16px;
                                color: #FFF;
                                display: none;
                            }
                        }

                        &:hover {

                            .content-info {

                                p {
                                    margin: 0px 0px 12px 0px;
                                }
                                
                                a {
                                    display: block;
                                }
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        padding-right: 30px;
                        border-right: 1px solid #0e0404;
                    }

                    &:nth-of-type(2) {
                        padding-left: 30px;
                    }

                    > .row {

                        > .col-md-6 {
                            
                            > .container-seccion-news {
                        
                                > .content-info {
                                    padding: 20px;
                                    background: transparent url('../img/bg-text-home-latest-news.png') left top / 1px 100% repeat-x;

                                    h3 {
                                        margin: 0px 0px 12px 0px;
                                        font-weight: 700;
                                        font-size: 20px;
                                        color: #FFF;
                                    }

                                    p {
                                        margin: 0px;
                                        font-weight: 400;
                                    }
                                }

                                &:hover {

                                    .content-info {
                                        padding: 30px 20px 20px  20px;
                                        background-image: url('../img/icon-arrow-down-text-home-latest-news.png'), url('../img/bg-text-home-latest-news.png');
                                        background-repeat: no-repeat, repeat-x;
                                        background-size: auto auto, 1px 100%;
                                        background-position: 95% 15px, left top;
                                        
                                        p {
                                            margin: 0px 0px 12px 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

    .home-block-video {
        
        .container {
            padding: 36px 15px 30px 15px;
            background-size: 300px auto, 100% 1px;

            .row {

                .col-md-6 {

                    &:nth-of-type(2) {

                        .container-info-video {
                            max-width: 150px;

                            .img-responsive {
                                margin: 5px 0px 10px 0px;

                                &:nth-of-type(2) {
                                    margin: 10px 0px 15px 0px;
                                }
                            }

                            p {
                                line-height: 24px;
                                font-size: 15px;
                                
                                span {
                                    font-size: 40px;
                                }

                                &:nth-of-type(1) {
                                    line-height: 29px;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-md) {

    .home-block-banner {

        .owl-carousel {

            .item {
                min-height: 400px;
            }
        }
    }

    .home-block-products {
    
        .row {
            
            &:nth-of-type(1) {

                h3 {
                    span {

                        a {
                            font-size: 22px;
                        }
                    }
                }
            }

            &:nth-of-type(2) {

                .col-md-12 {
                    justify-content: center;

                    .container-products {
                        width: 100%;
                        max-width: 250px;
                    }
                }
            }
        }
    }

    .home-block-video {
        
        .container {
            padding: 40px 15px 30px 15px;
            background-size: 340px auto, 100% 1px;
            background-position: 15px bottom, left top;

            .row {

                .col-md-6 {

                    &:nth-of-type(2) {

                        .container-info-video {
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }

    .home-block-parallax {
        
        .container {
            min-height: 400px;
        }
    }

    .home-block-latest-news {
        padding-bottom: 15px;
        
        > .container {
            
            > .row {

                &:nth-of-type(1) {

                    h3 {
                        margin: 20px 0px;
                    }
                }
                
                &:nth-of-type(2) {
                    
                    > .col-md-6 {
                        
                        .container-seccion-news {
                            margin-bottom: 30px;
                        }
                        
                        &:nth-of-type(1) {
                            padding-right: 15px;
                            border-right: none;
                        }

                        &:nth-of-type(2) {
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .home-block-banner {

        .owl-carousel {

            .item {
                min-height: 300px;
            }

            .owl-dots {
                padding: 0px 15px;
            }
        }
    }

    .home-block-brands {
    
        .container-brands-carousel {

            .col-md-12 {
                padding: 30px 35px 30px 35px;

                .owl-carousel {

                    .owl-item {

                        .item {
                            min-height: 131px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: auto;
                            }
                        }
                    }
                }

                .btn-owl-carousel-brands-home {
                    width: 25px;
                    height: 74px;
                    top: 29%;
                    position: absolute;

                    &-left {
                        left: 15px;
                        background: transparent url('../img/icon-arrow-gray-left.png') left center / 25px auto no-repeat;
                    }
                    &-right {
                        right: 15px;
                        background: transparent url('../img/icon-arrow-gray-right.png') right center / 25px auto no-repeat;
                    }
                }
            }
        }
    }

    .home-block-products {
    
        .row {
            
            &:nth-of-type(1) {

                h3 {
                    background: transparent;

                    span {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a {
                            margin-right: 0px;
                            margin-bottom: 20px;
                            font-size: 17px;

                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-block-video {
        
        .container {
            padding: 40px 15px 35px 15px;
            background: #b11f2c;

            .row {

                .col-md-6 {

                    &:nth-of-type(2) {
                        justify-content: center;
                    }
                }
            }
        }
    }

    .home-block-parallax {
        
        .container {
            min-height: 250px;
            padding: 40px 15px;
        }
    }
}