.locate-us-block-filters {

}

.locate-us-block {
    padding: 40px 0px 50px 0px;

    .col-md-4 {
        padding-right: 0px;

        .content-list-menu {
            padding: 5px;
            background-color: #f7f7f7;

            .form-group {
                margin: 0px;
                padding: 15px 15px 30px 15px;
                background-color: #FFF;

                .form-control {
                    padding: 15px 25px 15px 0px;
                    border: none;
                    border-bottom: 1px solid #9a9a9a;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    box-shadow: none;
                    background: transparent url('../img/news-content-list-menu-lopa.png') right center no-repeat;
                }
            }
            
            ul {
                height: 661px;
                margin: 0px;
                padding: 0px 10px;
                list-style: none;
                overflow-y: auto;
                
                li {
                    padding: 15px 10px;
                    border-bottom: 1px solid #9a9a9a;
                    
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 22px;
                        font-weight: 700;
                        font-size: 17px;
                        color: #393b3d;
                        
                        &.active,
                        &:hover {
                            color: #0f728c;
                        }
                    }
                    
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    
    .col-md-8 {
        padding-left: 0px;

        .content_google_map {
            width: 100%;
            height: 750px;
            border: none;
        }
    }
}

@media (max-width: $screen-md) {

    .locate-us-block {
        padding: 20px 0px 50px 0px;

        .col-md-4 {
            margin-bottom: 30px;
            padding-right: 15px;

            .content-list-menu {
                
                ul {
                    height: auto;
                    max-height: 300px;
                }
            }
        }

        .col-md-8 {
            padding-left: 15px;

            .content_google_map {
                height: 350px;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .locate-us-block {

        .col-md-4 {

            .content-list-menu {
                
                ul {
                    padding: 0px;
                    
                    li {
                        padding: 15px 5px;
                    }
                }
            }
        }
    }
}