.locate-us-block-filters {
    padding-top: 30px;

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .content-filters {
            margin: 0px 10px;

            p {
                margin: 0px;
                font-weight: 700;
                font-size: 21px;
                color: #b11e2c;
            }

            .btn-primary {
                padding: 8px 20px;
                font-size: 20px;
                color: #FFF;
                border: none;
                background-color: #0f728c;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

            .input-group {

                .form-control {
                    padding: 6px 0px;
                    border: none;
                    border-bottom: 1px solid #9a9a9a;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    box-shadow: none;

                    &:-moz-read-only {
                        background-color: #FFF;
                    }
                    &:read-only {
                        background-color: #FFF;
                    }
                }

                .input-group-btn,
                .input-group-btn.open  {

                    .btn-default {
                        border: none;
                        border-bottom: 1px solid #9a9a9a;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-radius: 0px;

                        &:hover,
                        &:focus,
                        &:active {
                            box-shadow: none;
                            background-color: transparent;
                        }
                    }
                }
            }

            &:nth-of-type(1) {
                min-width: 200px;
                margin: 0px 10px 0px 0px;
            }
            &:nth-of-type(6) {
                margin: 0px 0px 0px 10px;
            }
        }
    }
}

.locate-us-block {
    padding: 40px 0px 50px 0px;

    .col-md-4 {
        padding-right: 0px;

        .content-list-menu {
            padding: 5px;
            background-color: #f7f7f7;

            .form-group {
                margin: 0px;
                padding: 15px 15px 30px 15px;
                background-color: #FFF;

                .form-control {
                    padding: 15px 25px 15px 0px;
                    border: none;
                    border-bottom: 1px solid #9a9a9a;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    box-shadow: none;
                    background: transparent url('../img/news-content-list-menu-lopa.png') right center no-repeat;
                }
            }
            
            ul {
                height: 661px;
                margin: 0px;
                padding: 0px 10px;
                list-style: none;
                overflow-y: auto;
                
                li {
                    padding: 15px 40px 15px 10px;
                    border-bottom: 1px solid #9a9a9a;
                    background: transparent url('../img/icon-locaton-red.png') 97% center no-repeat;
                    
                    a {
                        text-decoration: none;
                        line-height: 22px;
                        font-weight: 700;
                        font-size: 17px;
                        color: #4b4b4b;
                        
                        span {
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 17px;
                            color: #0f728c;
                        }
                        
                        &.active,
                        &:hover {
                            color: #0f728c;
                        }
                    }
                    
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    
    .col-md-8 {
        padding-left: 0px;

        .content_google_map {
            width: 100%;
            height: 750px;
            border: none;
        }
    }
}

@media (max-width: $screen-md) {

    .locate-us-block-filters {

        form {
            flex-direction: column;
            justify-content: center;

            .content-filters {
                width: 100%;
                margin: 0px 0px 20px 0px;

                &:nth-of-type(1) {
                    margin: 0px 0px 10px 0px;
                }

                &:nth-of-type(6) {
                    margin: 20px 0px;
                    text-align: center;
                }
            }
        }
    }

    .locate-us-block {
        padding: 20px 0px 50px 0px;

        .col-md-4 {
            margin-bottom: 30px;
            padding-right: 15px;

            .content-list-menu {
                
                ul {
                    height: auto;
                    max-height: 300px;
                }
            }
        }

        .col-md-8 {
            padding-left: 15px;

            .content_google_map {
                height: 350px;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .locate-us-block {

        .col-md-4 {

            .content-list-menu {
                
                ul {
                    padding: 0px;
                    
                    li {
                        padding: 15px 5px;
                        background: transparent;
                    }
                }
            }
        }
    }
}