.login-block {
    padding: 50px 0px;

    .row {
        
        .col-md-6 {

            .form-horizontal {

                .form-group {
                    margin-bottom: 10px;

                    .col-sm-8 {
    
                        .form-control {
                            -webkit-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                            -moz-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                            box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            border-radius: 0px;
                        }

                        .input-group {
   
                            .input-group-addon {
                                border-color: transparent;
                                background: transparent url('../img/asterisk.png') center center no-repeat;
                            }
                        }
                    }

                    .input-group {
   
                        .input-group-addon {
                            border-color: transparent;
                            background-color: transparent;
                        }
                    }

                    .control-label {
                        padding-right: 0px;
                        text-align: right;
                        font-weight: 400;
                        font-size: 16px;
                        color: #474442;
                    }

                    .checkbox {
    
                        label {
                            font-size: 16px;
                            color: #000; 
                            
                            a {
                                text-decoration: underline;
                                font-size: 16px;
                                color: #b11e2c; 
                            }
                        }
                    }

                    .btn-default {
                        padding: 6px 0px;
                        font-size: 17px;
                        color: #000;   
                        border-color: transparent;
                        background-color: transparent;
                    }

                    .btn-primary {
                        width: 100%;
                        padding: 2px 15px;
                        margin-top: 10px;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 30px;
                        color: #FFF;
                        border-color: #b11e2c;
                        background-color: #b11e2c;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-radius: 0px;
                    }
                }

                .form-group-divide {
                    width: 100%;
                    padding: 25px 0px;
                }
            }

            &:nth-of-type(1) {
                padding-right: 30px;
                
                h1 {
                    margin: 0px 0px 80px 0px;
                    padding-left: 50px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 45px;
                    color: #0f728c;
                    background: transparent url("../img/icon-user.png") left 13px / 30px auto no-repeat;

                    span {
                        text-transform: capitalize;
                        font-size: 17px;
                        color: #000;
                    }
                }
            }

            &:nth-of-type(2) {
                text-align: center;
                padding-left: 30px;
                border-left: 1px solid #000;
                
                h1 {
                    margin: 0px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 45px;
                    color: #b11e2c;
                }

                small {
                    margin: 0px;
                    text-align: center;
                    font-size: 18px;
                    color: #222122;
                }

                .form-horizontal {
                    margin-top: 55px;

                    .btn-primary {
                        border-color: #0f728c;
                        background-color: #0f728c;
                    }
                }

                .checkbox {
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: $screen-md) {

    .login-block {

        .row {
            
            .col-md-6 {

                .form-horizontal {

                    .form-group-divide {
                        padding: 0px;
                    }
                }
                    
                &:nth-of-type(1) {
                    padding-right: 15px;
                    margin-bottom: 70px;

                    h1 {
                        margin: 0px 0px 30px 0px;
                    }
                }

                &:nth-of-type(2) {
                    padding-left: 15px;
                    border-left: none;

                    .form-horizontal {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .login-block {

        .row {
            
            .col-md-6 {

                .form-horizontal {

                    .form-group {
                        text-align: left;

                        .btn-primary {
                            font-size: 20px;
                        }
                    }
                }
                    
                &:nth-of-type(1) {
                    
                    .text-right {
                        text-align: left;
                    }
                }
            }
        }
    }
}