.my-account-block {
    padding: 45px 0px 50px 0px;

    .img-responsive {
        border: 1px solid #a0a0a0;
    }

    .my-account-list-menu {
        width: 100%;
        min-height: 550px;
        list-style: none;
        padding-left: 0px;
        border-right: 2px solid #a0a0a0;

        li {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            
            h2 {
                width: 100%;
                margin: 0px;
                padding: 5px 0px 15px 40px;
                font-weight: 700;
                font-size: 24px;
                color: #0f728c;
                background: transparent url("../img/icon-user.png") left 2px / 30px auto no-repeat;
            }
            
            a {
                width: 100%;
                margin: 0px;
                padding: 10px 25px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                color: #4b4b4b;
                background-color: transparent;

                &.active,
                &:hover {
                    color: #FFF;
                    background-color: #46c0c1;
                }
            }
        }
    }

    .form-horizontal {

        .form-group {
            margin-bottom: 10px;

            .col-sm-8 {

                .form-control {
                    -webkit-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                    -moz-box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                    box-shadow: inset 0px -9px 4px -8px #8f8f8f;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                }

                .input-group {

                    .input-group-addon {
                        border-color: transparent;
                        background: transparent url('../img/asterisk.png') center center no-repeat;

                        &.empty {
                            background: transparent;
                        }
                    }
                }
            }

            .input-group {

                .input-group-addon {
                    border-color: transparent;
                    background-color: transparent;
                }
            }

            .control-label {
                padding-right: 0px;
                text-align: right;
                font-weight: 400;
                font-size: 15px;
                color: #474442;
            }

            .btn-primary {
                width: 100%;
                padding: 2px 15px;
                margin-top: 10px;
                text-transform: uppercase;
                text-align: center;
                font-size: 30px;
                color: #FFF;
                border-color: #0f728c;
                background-color: #0f728c;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }

        .form-group-divide {
            width: 100%;
            padding: 25px 0px;
        }
    }

    &.seccion-address {

        .content-btn {
            width: 100%;
            text-align: right;
            
            .btn-default {
                margin-bottom: 20px;
                padding: 5px 15px;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                color: #FFF;
                border-color: #0f728c;
                background-color: #0f728c;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }

        .content-address {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #a0a0a0;

            h2 {
                margin: 0px 0px 12px 0px;
                font-size: 22px;
                color: #16748e;

                a {
                    margin: 0px 0px 0px 15px;
                    font-size: 20px;
                    color: #46c0c1;
                }
            }

            p {
                margin: 0px;
                font-size: 18px;
                color: #b4b1b1;

                &:last-child {
                    margin: 0px;
                }
            }
        }
    }

    &.seccion-orden-history {

        .table {

            thead {
                
                th {
                    padding: 10px 0px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 18px;
                    color: #0f728c;
                }
            }

            tbody {
                
                td {
                    padding-top: 15px;

                    &:last-child {
                        padding-top: 8px;
                    }
                }
            }
        }
    }

    &.seccion-orden-history-detail {

        .content-btn {
            width: 100%;
            text-align: right;
            
            .btn-default {
                margin-bottom: 0px;
                padding: 5px 15px;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                color: #FFF;
                border-color: #0f728c;
                background-color: #0f728c;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }

        .cart-review-block-address {
            margin-bottom: 20px;
    
            .content-info {
                padding: 15px;

                h2 {
                    margin: 0px 0px 5px 0px;
                    font-size: 18px;
                }

                p {
                    margin: 0px 0px 5px 0px;
                    font-size: 18px;
                }
            }
        }

        .cart-review-block-summary {

            .table {

                tbody {
            
                    td {
                        
                        .img-responsive {
                            max-width: 80px;
                            border: none;
                        }

                        h3 {
                            font-size: 15px;
                        }
                        
                        h4 {
                            font-size: 20px;
                        }

                        h5 {
                            margin: 22px 0px 0px 0px;
                            font-weight: 500;
                            font-size: 20px;
                            color: #000;
                        }
                    }
                }
            }

            .col-md-4 {

                .content-info {
                    padding: 20px 18px;

                    table {

                        thead {

                            tr {

                                th {
                                    font-size: 17px;
                                }
                            }
                        }

                        tbody {

                            tr {
                                
                                td {
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.seccion-rewards {
        
        .img-responsive {
            border: none;
        }

        hr {
            border: 1px solid #8f8f8f;
        }

        .rewards-list-main {
            padding: 15px 25px 20px 25px;
            background: transparent url('../img/bg-pharmabox-rewards.png') center center / cover no-repeat;

            .row {

                .col-md-6 {
                    min-height: 343px;

                    &:nth-of-type(1) {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h2 {
                            margin: 0px 0px 15px 0px;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 40px;
                            color: #46c0c1;
                        }

                        h3 {
                            width: 100%;
                            max-width: 300px;
                            margin: 0px 0px 15px 0px;
                            padding: 7px 10px;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 40px;
                            color: #FFF;
                            background-color: #0f728c;
                        }

                        p {
                            margin: 0px 0px 20px 0px;
                            line-height: 22px;
                            font-weight: 700;
                            font-size: 18px;
                            color: #393b3d;
                        }

                        .content-barcode {
                            width: 100%;
                            max-width: 150px;
                            padding: 70px 0px 0px 0px;
                            text-align: center;
                            border: 2px solid #bebebe;
                            background: #fff url('../img/bg-barcode.png') top center / 150px auto no-repeat;
                            
                            small {
                                margin: 0px;
                                font-family: 'Arial';
                                font-weight: 800;
                                font-size: 20px;
                                color: #000;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        p {
                            margin: 15px 0px 0px 0px;
                            font-weight: 700;
                            font-size: 20px;
                            color: #393b3d;
                        }
                    }
                }
            }
        }

        .rewards-list {

            .row {

                .col-md-8 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    h2 {
                        margin: 0px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 36px;
                        color: #b4b1b1;
                    }

                    h3 {
                        margin: 0px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 22px;
                        color: #0f728c;
                    }
                    
                    p {
                        margin: 15px 0px 0px 0px;
                        font-weight: 700;
                        font-size: 16px;
                        color: #b4b1b1;
                    }

                    .content-items {
                        width: 100%;
                        margin-top: 20px;

                        .item {
                            float: left;
                            box-sizing: border-box;
            
                            .content-barcode {
                                width: 100%;
                                padding: 70px 0px 0px 0px;
                                text-align: center;
                                border: 2px solid #bebebe;
                                background: #fff url('../img/bg-barcode.png') top center / 150px auto no-repeat;

                                small {
                                    margin: 0px;
                                    font-family: 'Arial';
                                    font-weight: 800;
                                    font-size: 20px;
                                    color: #000;
                                }
                            }
                            
                            h4 {
                                width: 100%;
                                margin: 15px 0px 7px 0px;
                                padding: 7px 10px;
                                text-align: center;
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: 30px;
                                color: #FFF;
                                background-color: #b11e2c;
                            }
                
                            label {
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: 16px;
                                color: #393b3d;
                            }

                            &:nth-of-type(1) {
                                width: 30%;
                                padding-right: 15px;
                            }

                            &:nth-of-type(2) {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-md) {

    .my-account-block {

        .img-responsive {
            margin: 60px auto 0px auto;
        }

        .my-account-list-menu {
            min-height: auto;
            border-right: none;
            margin-bottom: 40px;
        }

        .form-horizontal {

            .form-group-divide {
                padding: 0px;
            }
        }

        &.seccion-orden-history-detail {

            .cart-review-block-summary {

                .table {

                    tbody {
                
                        td {
                            
                            .img-responsive {
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }

        &.seccion-rewards {

            .rewards-list-main {

                .row {

                    .col-md-6 {

                        &:nth-of-type(2) {

                            .img-responsive {
                                margin: 30px auto 0px auto;
                            }
                        }
                    }
                }
            }

            .rewards-list {

                .row {

                    .col-md-4 {

                        .img-responsive {
                            margin: 0px auto 20px auto;
                        }
                    }

                    .col-md-8 {
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .my-account-block {

        &.seccion-rewards {

            .rewards-list {

                .row {

                    .col-md-8 {

                        h2 {
                            text-align: center;
                        }

                        h3 {
                            text-align: center;
                        }
                        
                        p {
                            text-align: center;
                        }

                        .content-items {

                            .item {
                
                                .content-barcode {
                                    width: 100%;
                                    max-width: 150px;
                                    margin: 0px auto;
                                }

                                h4 {
                                    font-size: 25px;
                                }
                    
                                &:nth-of-type(1) {
                                    width: 100%;
                                    padding-right: 0px;
                                }

                                &:nth-of-type(2) {
                                    width: 100%;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}