.products-block-title {
    padding: 30px 15px; 

    .col-md-8 {

        a {
            margin: 0px 25px 0px 0px;
            padding-right: 30px;
            text-decoration: none;
            font-weight: 700;
            font-size: 24px;
            color: #a0a0a0;
            background: transparent url('../img/icon-title-home-block-products-gray.png') right center / 15px auto no-repeat;

            &.active,
            &:hover {
                color: #b11e2c;
                background: transparent url('../img/icon-title-home-block-products-red.png') right center / 15px auto no-repeat;
            }
        }
    }

    .col-md-4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        > .dropdown {
            width: 161px;
            text-align: right;
            
            > button {
                margin: 0px;
                padding-right: 30px;
                border: none;
                text-decoration: none;
                font-weight: 700;
                font-size: 24px;
                color: #46c0c1;
                background: transparent url('../img/icon-title-home-block-products-blue.png') right center no-repeat;
            }

            > .dropdown-menu {
                
                > li {
                    
                    > a {
                        border: none;
                        text-align: center;
                        text-transform: capitalize;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 18px;
                        color: #a0a0a0;
                    }

                    &.active {

                        > a {
                            color: #b11e2c;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

.products-block-list {

    .col-md-12 {
        padding: 5px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;

        .container-products {
            width: 20%;
            padding: 0px 15px;
            margin-bottom: 45px;

            .img-products {
                max-height: 204px;
                margin: 0px 0px 15px 0px;
                border: 1px solid #b4b1b1;
                overflow: hidden;

                .img-heart {
                    margin: 15px 15px -40px 0px;
                    float: right;
                    position: relative;
                }

                .img-responsive {
                    max-height: 204px;
                    margin: 0px auto;
                }
            }
            
            .text-products {
                min-height: 160px;

                h4 {
                    margin: 0px 0px 15px 0px;
                    font-size: 34px;
                    color: #000;

                    span {
                        font-size: 14px;
                    }
                }

                h5 {
                    margin: 0px 0px 5px 0px;
                    text-transform: uppercase;
                    line-height: 23px;
                    font-size: 14px;
                    color: #b11e2c;
                }

                p {
                    margin: 0px 0px 15px 0px;
                    font-size: 14px;
                    color: #1b1b1b;
                }

                .content-row-one {
                    margin-bottom: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        margin: 0px;
                    }
                }
            }

            .link-products {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                
                a {
                    margin: 0px;
                    padding: 10px 19px;
                    border: 1px solid #b4b1b1;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    
                    &:nth-of-type(2) {
                        padding: 10px 25px;
                    }
                }
            }

            a {
                text-decoration: none;
            }
        }
    }
}

.products-block-bottom {
    padding: 30px 15px 50px 15px; 

    h3 {
        margin: 0px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        background: transparent url('../img/bg-products-bottom-center.jpg') left center repeat-x;

        a {
            margin: 0px;
            padding: 0px 25px;
            font-weight: 700;
            font-size: 24px;
            color: #b11e2c;

            &:nth-of-type(1) {
                background: #FFF url('../img/icon-products-bottom-left.png') left center no-repeat;
            }

            &:nth-of-type(2) {
                background: #FFF url('../img/icon-products-bottom-right.png') right center no-repeat;
            }
        }
    }
}

@media (max-width: $screen-md) {

    .products-block-title {

        .col-md-8 {

            a {
                font-size: 20px;
            }
        }

        .col-md-4 {
            justify-content: center;

            > .dropdown {
                text-align: center;
                
                > button {
                    font-size: 20px;
                }
            }
        }
    }

    .products-block-list {

        .col-md-12 {
            justify-content: center;

            .container-products {
                width: 100%;
                max-width: 250px;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .products-block-title {

        .col-md-8 {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                margin: 0px 0px 10px 0px;
            }
        }

        .col-md-4 {
            text-align: center;
        }
    }

    .products-block-bottom {

        h3 {
            background: transparent;

            a {
                padding: 0px 18px;
                font-size: 19px;
            }
        }
    }
}